header
{
    padding: 1rem;
    font-family: Anton;
    text-align: center;
}

#bob
{
    text-align: left;
    border: 1px dashed #0221AD;
}

#avatar
{
    text-align: center;
}

#hero
{
    text-align: left;
    font-family: Anton;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hero p
{
    text-align: left;
    padding: .05rem;
    font-family: Barlow, serif;

    display: flex;
    flex-direction: column;
    align-items: center;
}

p
{
    color: #0221AD;
    background-color: #FEFEFE;
    font-family: Barlow, serif;

    text-align: center;

    padding: 3px;
}

#IWantTo
{
    color: #0221AD;
    background-color: #FEFEFE;

    font-family: Barlow, serif;

    padding:  1rem;
    border: 2px solid #29F8Fa;

    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies
{
    color: #0221AD;
    background-color: #FEFEFE;

    font-family: Barlow, serif;

    padding:  1rem;
    border: 2px solid #29F8Fa;

    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#photos
{
    color: #0221AD;
    background-color: #FEFEFE;

    border: 2px solid #29F8Fa;
}

#photos figure
{
    text-align: center;
}

#photos img
{
    max-width: 75%;
}

#article
{
    /*background-image: radial-gradient(black,black, #444444, white); /* good looking border might use later*/
    border: .75rem ridge black;
    margin-top: 1rem;

    background-image: linear-gradient(90deg, #220000, black, #220000);
}

#article h2
{
    font-family: Anton;
    padding: 2rem;
    text-align: center;
    color: #CC0000;
}

#article p
{
    font-family: Anton;
    text-align: left;
    color: #CC0000;
    background-color: rgba(0,0,0,0);

    padding: 1rem;
}

#article p::first-letter
{
    color: black;
    float: left;
    font-size: 32pt;
    line-height: .25rem;

    padding: 1.5rem;

    border: 4px ridge black;
    border-radius: 3rem 0 3rem 0;

    box-shadow: 0rem 0rem 1rem rgba(255, 0, 0, 64);

    background-image:radial-gradient(darkred,gold, #CC0000);
    margin: .35rem;
}

#article div
{
    max-width: 55rem;
    margin: 0 auto;
}

footer
{
    clear: both;
    padding-top: 1rem;
    text-align: center;
}

#contactInfo
{
    color: #0221AD;
    background-color: #FEFEFE;
    font-family: Barlow, serif;

    text-align: left;
    border: 2px solid #29F8Fa;
    
    padding: 3px;
}

#contectHeader
{
    font-family: Anton;
}

.redacted
{
    color: #0221AD;
    background-color: #000000;
    
    border: 1px dotted #0221AD;
    padding: .05rem;
}

