header
{
    padding: 1rem;
    font-family: Anton;
    text-align: center;
}

#bob
{
    text-align: left;
    border: 1px dashed #0221AD;
}

#avatar
{
    text-align: center;
}

#hero
{
    text-align: left;
    font-family: Anton;
}

#hero p
{
    text-align: left;
    padding: .05rem;
    font-family: Barlow, serif;
}

p
{
    color: #0221AD;
    background-color: #FEFEFE;
    font-family: Barlow, serif;

    text-align: center;

    padding: 3px;
}

#IWantTo
{
    color: #0221AD;
    background-color: #FEFEFE;

    font-family: Barlow, serif;

    padding:  1rem;
    border: 2px solid #29F8Fa;

    margin-bottom: 1rem;
}

#hobbies
{
    color: #0221AD;
    background-color: #FEFEFE;

    font-family: Barlow, serif;

    padding:  1rem;
    border: 2px solid #29F8Fa;

    margin-bottom: 1rem;
}

#photos
{
    color: #0221AD;
    background-color: #FEFEFE;

    border: 2px solid #29F8Fa;
}

#photos figure
{
    text-align: center;
}

#photos img
{
    max-width: 75%;
}

footer
{
    clear: both;
    padding-top: 1rem;
    text-align: center;
}

#contactInfo
{
    color: #0221AD;
    background-color: #FEFEFE;
    font-family: Barlow, serif;

    text-align: left;
    border: 2px solid #29F8Fa;
    
    padding: 3px;
}

#contectHeader
{
    font-family: Anton;
}

.redacted
{
    color: #0221AD;
    background-color: #000000;
    
    border: 1px dotted #0221AD;
    padding: .05rem;
}