header
{
    padding: 1rem;
    font-family: Anton;
    text-align: center;
}

p, ol
{
    color: #000022;
    background-color: #FEFEFE;
    font-family: Barlow, serif;

    text-align: center;

    border: 2px solid #000000;
    padding: 3px;
}

ol
{
    padding: 2rem;
    text-align: left;
}

footer
{
    text-align: center;
}

#IWantTo
{
    text-align: center;
}

#hero
{
    text-align: center;
}